<html>
<head>
    <title>Memahami Element Table</title>
	<style type="text/css">
		.box-styling {
			border:1px solid #f00;
			padding:10px;
			margin-bottom:20px;
			background-color:rgb(235,167,188);
			padding:20px;
			color:rgb(255,255,255);
			font-weight:bold;
			border-radius: 30px 0;
		}
	</style>
</head>
<body>
	<div class="box-styling">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus saepe autem, libero dolorum numquam laborum architecto reprehenderit, dolor quam aut quia et! Voluptatibus quaerat assumenda voluptatem voluptas quibusdam nostrum reiciendis.
	</div>
	<div class="box-styling">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas laboriosam ad, aspernatur illo molestiae dolor iure, nulla, deserunt eligendi, eos laudantium architecto quo debitis nesciunt! Vitae deserunt ducimus nam, consequatur.
	</div>
</body>
</html>