<html>
<head>
    <title>Memahami Element Table</title>
	<link rel="stylesheet" type="text/css" href="../first/style.css">
	<script src="../js/app.js"></script>
</head>
<body>
	<div class="box-styling">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus saepe autem, libero dolorum numquam laborum architecto reprehenderit, dolor quam aut quia et! Voluptatibus quaerat assumenda voluptatem voluptas quibusdam nostrum reiciendis.
	</div>
	<div class="box-styling">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas laboriosam ad, aspernatur illo molestiae dolor iure, nulla, deserunt eligendi, eos laudantium architecto quo debitis nesciunt! Vitae deserunt ducimus nam, consequatur.
	</div>
</body>
</html>